@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import "tailwindcss";


@theme {
  --font-display : "Lato", "sans-serif";
}
.button-style{
@apply  hover:bg-white hover:text-black text-white inline-block transition-transform duration-300 hover:scale-110 rounded-sm px-4 py-2.5 mr-3;
}
.navbarStyle{
    @apply  relative pb-1 cursor-pointer
                   after:absolute after:left-0 after:bottom-0
                   after:h-[3px] after:w-0 after:bg-yellow-500
                   after:transition-all after:duration-300
                   hover:after:w-full hover:text-amber-500;}
.CarSearchBoxFilter{
    @apply   px-6 py-2 rounded-full text-sm font-semibold
    bg-gradient-to-r from-amber-400 to-orange-500
    text-black
    transition-all duration-300
    hover:scale-110
    hover:shadow-[0_0_18px_rgba(251,191,36,0.8)];
}
.CarSearchBox{
  @apply px-5 py-2 rounded-full text-sm font-medium
    border border-gray-300 text-gray-700 bg-white
    transition-all duration-300
    hover:bg-amber-400 hover:text-black
    hover:shadow-[0_0_12px_rgba(251,191,36,0.6)]
    hover:scale-110
}
@keyframes glowRight {
  from { transform: translateX(14px); filter: blur(1.3px); }
  to { transform: translateX(0); filter: blur(0); }
}
@keyframes glowLeft {
  from { transform: translateX(-14px); filter: blur(1px); }
  to { transform: translateX(0); filter: blur(0); }
}
.slide-right { animation: glowRight 0.3s ; }
.slide-left  { animation: glowLeft 0.3s ; }

